<h1>フォロワーリスト</h1>

<div class="list">
  <% if @followings.present? %>
    <% @followings.each do |user| %>
      <%= link_to user.nickname, user_path(user) %>
    <% end %>
  <% else %>
    現在フォロワーはいません
  <% end %>
</div>

<div class="list">
  <%= link_to t("button.back"), user_path %>
</div>