<h1>フォロー中のユーザーリスト</h1>

<div class="list">
  <% if @followeds.present? %>
    <% @followeds.each do |user| %>
      <%= link_to user.nickname, user_path(user) %>
    <% end %>
  <% else %>
    現在フォロー中のユーザーはいません
  <% end %>
</div>

<div class="list">
  <%= link_to t("button.back"), user_path %>
</div>