<div class="contents row">
  <div class="container">
    <h1><%= t("title.フォロー中") %></h1>
    <table>
      <% @followeds.each do |user| %>
        <tr>
          <td><%= link_to user.nickname, user_path(user) %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to t("button.back"), user_path %>
  </div>
</div>