<div class="wrapper">
  <div class="left-bar">
    <%= render "left" %>
  </div>
  
  <div class="main">
    <%= render "main" %>
  </div>

  <div class="right-bar">
    <%= render "right" %>
  </div>
</div>