<div class="title">
  * 参加中のチャットルーム *
</div>

<div class="info2">
  <% if current_user.rooms.present? %>
    <% current_user.rooms.each do |room| %>
      <%= link_to room.name, room_messages_path(room) %>
    <% end %>
  <% else %>
    現在参加中のチャットルームはありません。
    <%= link_to "チャットルームを作成する", new_room_path %>
  <% end %>
</div>