<h1><%= current_user.nickname %>さんのタイムライン</h1>

<div class='post'>
  <% if @posts.present? %>
    <table class="tableclass">
      <tr>
        <th class="table">
          日付
        </th>
        <th class="table">
          ユーザー名
        </th>
        <th class="table">
          気持ち
        </th>
      </tr>
      <% @posts.each do |post| %>
        <tr>
          <td class="table">
            <%= post.date.strftime("%Y年%m月%d日") %>
          </td>
          <td class="table">
            <%= post.user.nickname %>
          </td>
          <td class="table">
            <%= post.kibun %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    投稿がありません
  <% end %>
</div>