.post {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kibun {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}


.post-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.kimochi {
  padding: 20px;
  box-shadow: 0 0 10px rgb(9, 185, 24);
  width: 85%;
  height: 90px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}

.select {
  height: 4vh;
  width: 15vw;
  margin: 5px 5px;
  text-align: center
}

.right {
  display: flex;
  margin: 5px 5px;
  margin-left: 10px;
  font-size: 90%;
  color: darkolivegreen;
  display: flex;
  flex-direction: column;
}

.table1 {
  width: calc(50% / 2);
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 20px;  
}

.table2 {
  width: 50%;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 20px;  
}