@charset "UTF-8";

/* ここから下 */
.wrapper {
  display: flex;
}

/* left*/
.left-bar {
  width: 300px;
  height: 100ph;
  background-color: rgb(174, 212, 97);
}

.left-header {
  height: 100px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-lists {
  /* background-color: wheat; */
  height: calc(100vh - 100px);
  padding: 0 15px;
  overflow: scroll;
}

.title {
  padding-bottom: 10px;
}

.info {
  margin: 15px;
}

.info2 {
  margin: 10px;
  font-size: 95%;
  color: darkolivegreen;
  display: flex;
  flex-direction: column;
}

.user-nickname {
  font-size: 20px;
  color: #666;
  text-decoration: none;
}

/* main */
.main {
  background-color: #fffac2;
  width: calc(100vw - 300px);
  height: auto;
}

.container {
  margin: 30px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  height: 80%;
  overflow: scroll;
}

footer {
  margin: 20px auto;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}

.edit-view {
  justify-content: center;
  display: flex;
}