.follow {
  margin: 10px;
}

.user-post-list {
  font-size: 3vh;
  align-items: center;
  justify-content: center;
  margin: 1vh 0;
}

.sort {
  font-size: 3vh;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.right {
  margin-right: 500px;
}

.tableclass {
  width: 100%;
}

.table {
  width: calc(100% / 3);
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}