.follow {
  margin: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.right {
  margin-right: 500px;
}

.tableclass {
  width: 90%;
}

.table {
  width: calc(100% / 3);
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}