.follow {
  margin: 10px;
}

.count {
  justify-content: center;
  font-size: 3vh;
  padding-left: 10px;
}

.user-post-list {
  font-size: 3vh;
  align-items: center;
  justify-content: center;
  margin: 1vh 0;
}

.sort {
  font-size: 3vh;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
}